In [15]:
from sklearn import datasets
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm

# Load the diabetes dataset (Note: standardized)
diabetes = datasets.load_diabetes()
df = pd.DataFrame(data= np.c_[diabetes['data'], diabetes['target']],columns= diabetes['feature_names'] + ['target'])
print("Note: bmi = body mass index, bp = average_blood_pressure, s1 = total serum cholesterol, s2 = low-density lipoproteins, s3 = high-density lipoproteins, s4 = total cholesterol, s5 = log of serum triglycerides level, s6 = disease_progression, target = quantitative measure of disease progression one year after baseline")
df.head()

Note: bmi = body mass index, bp = average_blood_pressure, s1 = total serum cholesterol, s2 = low-density lipoproteins, s3 = high-density lipoproteins, s4 = total cholesterol, s5 = log of serum triglycerides level, s6 = disease_progression, target = quantitative measure of disease progression one year after baseline

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [16]:
# one hot encoding
df['sex']=df['sex'].replace(df['sex'].values[0], 1)
df['sex']=df['sex'].replace(df['sex'].values[1], 0)
df['sex']=pd.to_numeric(df['sex'], downcast='integer')
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,1,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,0,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,1,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,0,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,0,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [17]:
# Categorical regression (full-rank)
result = sm.ols(formula='target~C(sex) + bmi + 0', data=df).fit()
print(result.summary())
print('MSE = %f' %(result.mse_model))

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.344
Model:                            OLS   Adj. R-squared:                  0.341
Method:                 Least Squares   F-statistic:                     115.1
Date:                Tue, 20 Jul 2021   Prob (F-statistic):           6.46e-41
Time:                        10:36:52   Log-Likelihood:                -2454.0
No. Observations:                 442   AIC:                             4914.
Df Residuals:                     439   BIC:                             4926.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
C(sex)[0]    152.7628      4.090     37.351      0.000     144.725     160.801
C(sex)[1]    151.4190      4.359     34.738      0.000     142.852     159.986
bmi          950.6781     62.827     15.132      0.000     827.198    1074.158
==============================================================================
Omnibus:                       11.253   Durbin-Watson:                   1.849
Prob(Omnibus):                  0.004   Jarque-Bera (JB):                7.108
Skew:                           0.153   Prob(JB):                       0.0286
Kurtosis:                       2.459   Cond. No.                         15.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
MSE = 450812.257862

In [18]:
# Categorical regression (reduced-rank) 
result = sm.ols(formula='target~C(sex) + bmi', data=df).fit()
print(result.summary())
print('MSE = %f' %(result.mse_model))

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.344
Model:                            OLS   Adj. R-squared:                  0.341
Method:                 Least Squares   F-statistic:                     115.1
Date:                Tue, 20 Jul 2021   Prob (F-statistic):           6.46e-41
Time:                        10:36:55   Log-Likelihood:                -2454.0
No. Observations:                 442   AIC:                             4914.
Df Residuals:                     439   BIC:                             4926.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     152.7628      4.090     37.351      0.000     144.725     160.801
C(sex)[T.1]    -1.3438      5.989     -0.224      0.823     -13.114      10.426
bmi           950.6781     62.827     15.132      0.000     827.198    1074.158
==============================================================================
Omnibus:                       11.253   Durbin-Watson:                   1.849
Prob(Omnibus):                  0.004   Jarque-Bera (JB):                7.108
Skew:                           0.153   Prob(JB):                       0.0286
Kurtosis:                       2.459   Cond. No.                         23.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
MSE = 450812.257862